* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
}

header {
  outline: 1px solid red;
}

#leftSideBar {
  outline: 1px solid green;
  float: left;
}

#productImages {
  outline: 1px solid blue;
  margin: 2em 0 2em 0;
  text-align: center;
}

#productImages img {
  width: 200px;
  height: 200px;
}

#productImages h3 {
  display: inline-block;
} 
